<div class="row">
  <div class="col-sm-4 col-sm-offset-2">

    <button class="btn btn-default btn-lg" id="toggle-all"><i class="fa fa-check"></i></button>
    Mark all as complete
  </div>
  <div class="col-sm-4 text-right">

  </div>
</div>
<!-- /row -->

<%= render 'layouts/divider' %>

<div class="row">
  <div class="col-sm-2 col-sm-offset-2  text-center">
    <span id="todo-count"><strong></strong>

    </span>
  </div>
  <div class="col-sm-4 text-center">
    <ul class="list-inline" id="filters">
      <li>
        <a class="btn btn-sm" href="/tasks/all">All <span class="badge badge-info"><%=@all_counter%></span></a>
      </li>
      <li>
        <a class="btn btn-sm" href="/tasks/active">Active <span class="badge badge-info"><%=@active_counter%></span></a>
      </li>
      <li>
        <a class="btn btn-sm" href="/tasks/completed">Completed <span class="badge badge-info"><%=@completed_counter%></span></a>
      </li>
    </ul>
  </div>
  <div class="col-sm-2  text-center">
    <button class="btn btn-sm btn-success" id="clear-completed">Clear completed (<%=@completed_counter%>)</button>
  </div>

</div>
<!--/ row -->