<div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <a href="#" class="mark_as_complete" id="<%= task.id %>"><i class="fa fa-check <%= TaskHelper.get_task_status_class(task) %>"></i></a>
          </span>
          <form>
            <input class="edit form-control input-lg editafterblur" value="<%=task.description%>" id="<%= task.id %>">
          </form>
          <span class="input-group-btn">
            
            <button class="btn btn-default btn-lg destroy" id="<%= task.id%>"><i class="glyphicon glyphicon-remove"></i></button>
          </span>
        </div>
        <!-- /input-group -->
      </div>
      <!-- /.col-lg-6 -->

    </div>
    <!-- /row -->